{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Information",
        "Microsoft.Hosting.Lifetime": "Information"
      }
    }
  },
  "Bot": {
    "DiscordToken": "",
    "DisabledSites": [],
    "MaximumEmbeds": 5
  },
  "Sites": {
    "ArtStation": {
      "PostLimit": 5
    },
    "Pixiv": {
      "Login": "",
      "Password": "",
      "Cookie": "",
      "PostLimit": 5,
      "UgoiraFormat": "mp4",
      "UgoiraBitrate": 2000
    },
    "Twitter": {
      "ApiKey": "",
      "ApiSecret": "",
      "AccessToken": "",
      "AccessSecret": "",
      "BearerToken": "",
      "Delay": "2.00"
    },
    "DeviantArt": {
      "ClientId": 0,
      "ClientSecret": ""
    }
  }
}
