{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Information",
        "Microsoft.Hosting.Lifetime": "Information",
        "Microsoft.EntityFrameworkCore": "Information"
      }
    }
  },
  "Bot": {
    "DiscordToken": "",
    "DisabledSites": [],
    "MaximumEmbeds": 5
  },
  "Database": {
    "ConnectionString": "server=database;user=root;password=secret;database=bot"
  },
  "Cache": {
    "Driver": "Redis",
    "Redis": {
        "DefaultLifetime": 3600,
        "ConnectionString": "cache:6379"
    },
    "Memory": {
        "DefaultLifetime": 3600
    }
  }
  "Sites": {
    "ArtStation": {
      "PostLimit": 5
    },
    "Pixiv": {
      "Login": "",
      "Password": "",
      "Cookie": "",
      "PostLimit": 5,
      "UgoiraFormat": "mp4",
      "UgoiraBitrate": 2000
    },
    "Twitter": {
      "ApiKey": "",
      "ApiSecret": "",
      "AccessToken": "",
      "AccessSecret": "",
      "BearerToken": "",
      "Delay": "2.00"
    },
    "ExHentai": {
        "Cookies": {
            "MemberId": "",
            "PasswordHash": ""
        }
    }
    "DeviantArt": {
      "ClientId": 0,
      "ClientSecret": ""
    }
  }
}
